<div id="navbar">  
    <a class="nav-partial" href="/">Home</p>  
    <a class="nav-partial" href="/Treats">Treats</a>
    <a class="nav-partial" href="/Flavors">Flavors</a>
    <a class="nav-partial" href="/Flavors/Create">Add new Flavor</a>
    @Html.ActionLink("Add a treat", "Create", "Treats", null, new {@class="nav-partial"})

</div>