@{
    Layout = "_Layout";
}

@using SweetFactory.Models;
@using System.Security.Claims;
@model IEnumerable<SweetFactory.Models.Treat>


<h1>Treats!!!</h1>

@if (Model.Any())
{
    <ul>
        @foreach (Treat treat in Model)
        {
            <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatID })</li>
        }
    </ul>
}
else 
{
    <h3>You haven't added any treats yet!</h3>
}

<p>@Html.ActionLink("Add new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>