@{
    Layout = "_Layout";
}

@model SweetFactory.Models.Treat

<h3>Lets add some new treats!</h3>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TreatName)
    @Html.TextBoxFor(model => model.TreatName)

    @Html.Label("Select a flavor")
    @Html.DropDownList("FlavorID")

    <input type="submit" value="Add Treat" class ="btn btn-info">
}

